<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Customer page"}) %>
    <script defer src="/js/query.js"></script>
    <script defer src="/js/filter_panel.js"></script>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main class="px-6 py-2">
        <section class="mt-8">
            <!-- Main category -->
            <div class="pb-6 pt-4 border-b border-gray-300 flex justify-between">
                <h1 class="capitalize font-bold text-2xl md:text-4xl"><%= locals.category ?  category : 'All products' %></h1>
                <div class="flex justify-center gap-4 items-center text-gray-400 [&_div:hover]:text-gray-500">
                    <!-- Sort function -->
                    <div class="flex justify-center gap-2 items-center cursor-pointer">
                        <span class="font-medium text-gray-900">Sort</span>
                        <svg class="h-5 w-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"></path></svg>
                    </div>
                    <!-- Filter function (in case for mobile devices) -->
                    <div id="filter-btn" class="md:hidden">
                        <svg class="h-5 w-5 cursor-pointer" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 14L4 5V3H20V5L14 14V20L10 22V14Z"></path></svg>
                    </div>
                </div>
            </div>

            <!-- Product list -->
            <div class="flex">
                <div id="filter-menu" class="offcanvas-r transition-300 w-[40vw] md:block md:static md:w-1/5">
                    <%- include("partials/_filter_section"); %>
                </div>
                <div class="w-full md:w-4/5">   
                    <%- include("partials/_product_container"); %>
                </div>
            </div>
        </section>

        <!-- Pagination -->
        <section>
            <div class="center-xy py-1">
                <!-- <span class="page-link"><svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.8284 12.0005L14.6569 14.8289L13.2426 16.2431L9 12.0005L13.2426 7.75781L14.6569 9.17203L11.8284 12.0005Z" fill="rgba(173,184,194,1)"></path></svg></span> -->
                <% for (let i = 1; i <= (pageInfo.totalPage > 3 ? 3 : pageInfo.totalPage); i++) { %>
                    <% if (pageInfo.currentPage >  3) { %>
                        <span class="page-link cursor-pointer" data-page-number="<%= pageInfo.currentPage + (i-2) %>"><%= pageInfo.currentPage + (i-2) %></span>
                    <% } else { %>
                        <span class="page-link cursor-pointer" data-page-number="<%= i %>"><%= i %></span>
                    <% } %>
                <% } %>
                <% if (pageInfo.totalPage > 3) { %>
                    <span class="text-gray-500">. . .</span>
                    <span class="page-link cursor-pointer" data-page-number="<%= pageInfo.totalPage %>"><%= pageInfo.totalPage %></span>
                <% } %>
            </div>
            <!-- <div class="center-xy text-gray-500 my-2">
                Displaying: <%= //((pageInfo.currentPage - 1) * pageInfo.pageSize) + 1 %> - <%= //(pageInfo.currentPage * pageInfo.pageSize) > pageInfo.numberOfProducts ? pageInfo.numberOfProducts : (pageInfo.currentPage * pageInfo.pageSize) %> of <%= //pageInfo.numberOfProducts %>
            </div> -->
        </section>
    </main>
    <%- include("partials/_footer.ejs"); %>
</body>
<script>
    $(document).ready(() => {
        const pageStyle = {
            'color': 'white',
            'background': 'rgb(139, 92, 246)'
        }
        let currentPage = '<%= pageInfo.currentPage %>'

        $('.page-link').each(function() {
            if ($(this).data('page-number') == currentPage) {
                $(this).css(pageStyle)
            }
        });
    })
</script>
</html>