<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Home page"}) %>
</head>
<body>
        <%- include('partials/_header.ejs') %>
    <main>
                <!-- Hero section here -->
        <%- include('partials/_hero_section.ejs') %>
                <!-- Hero section here -->
                <!-- First banner section here -->
        <%- include('partials/_banner_section_1.ejs') %>
                <!-- First banner section here -->
                <!-- Second banner section here -->
        <%- include('partials/_banner_section_2.ejs') %>
                <!-- Second banner section here -->
            <!-- Top seller items section here -->
        <%- include('partials/_top_seller_items.ejs') %>
            <!-- Top seller items section here -->
            <!-- Categories section here -->
        <%- include('partials/_product_category.ejs') %>
            <!-- Categories section here -->        
        <%- include('shipper_page.ejs') %>
        
    
    </main>
    <%- include("partials/_footer.ejs"); %>
</body>
</html>