<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../style.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <%- include("partials/_navigation_bar"); %>
        <%- include("partials/_category_bar"); %>
    </header>
    <main>
                <!-- Hero section here -->
        <%- include('_hero_section.ejs') %>
                <!-- Hero section here -->
                <!-- First banner section here -->
        <%- include('_banner_section_1.ejs') %>
                <!-- First banner section here -->
                <!-- Second banner section here -->
        <%- include('_banner_section_2.ejs') %>
                <!-- Second banner section here -->
            <!-- Top seller items section here -->
        <%- include('_top_seller_items.ejs') %>
            <!-- Top seller items section here -->
            <!-- Categories section here -->
        <%- include('_product_category.ejs') %>
            <!-- Categories section here -->        
    </main>
    <%- include("partials/_footer"); %>
</body>
</html>