<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home page</title>
</head>
<body>
        <%- include('partials/_header.ejs') %>
    <main>
                <!-- Hero section here -->
        <%- include('partials/_hero_section.ejs') %>
                <!-- Hero section here -->
                <!-- First banner section here -->
        <%- include('partials/_banner_section_1.ejs') %>
                <!-- First banner section here -->
                <!-- Second banner section here -->
        <%- include('partials/_banner_section_2.ejs') %>
                <!-- Second banner section here -->
            <!-- Top seller items section here -->
        <%- include('partials/_top_seller_items.ejs') %>
            <!-- Top seller items section here -->
            <!-- Categories section here -->
        <%- include('partials/_product_category.ejs') %>
            <!-- Categories section here -->        
    </main>
    <%- include("partials/_footer.ejs"); %>
</body>
</html>