<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "My account"}) %>
    <Script defer src="/js/fileUpload.js"></Script>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main class="flex justify-center align-middle m-1 p-1">
        <div class="w-full md:w-4/5">
            <div class="m-1 p-1 mt-5 flex flex-row justify-center">
                <h1 class="font-extrabold text-4xl font-sans">
                    My account
                </h1>
            </div>
            <div class="flex justify-center m-2 p-4">
                <div class="flex flex-col md:flex-row w-full justify-center mx-2 px-4 rounded-xl shadow-xl">
                    <div class="w-full md:w-3/4 m-2 p-2">
                        <p class="flex justify-start m-2 p-1">
                            <p class="font-bold inline">Name:</p> <%- user.name || user.businessName || "Nguyen Van A" %>
                        </p>
                        <p class="flex justify-start m-2 p-1">
                            <p class="font-bold inline">Username:</p> <%- user.username || "nguyenvana123" %>
                        </p>
                        <p class="flex justify-start m-2 p-1">
                            <p class="font-bold inline">Address:</p> <%- user.address|| user.businessAddress ||  "The White House" %>
                        </p>
                        <p class="flex justify-start m-2 p-1">
                            <p class="font-bold inline">Phone number:</p></Phone> <%- user.phoneNumber || "0123456789" %>
                        </p>
                        <p class="flex justify-start m-2 p-1">
                            <p class="font-bold inline">Email:</p> <%- user.email || "nguyenvana@gmail.com" %>
                        </p>
                    </div>
                    <%- include('partials/_change_avatar.ejs') %>   
                </div>
                
            </div>
            <div class="flex flex-row justify-center">
                <button class="m-3 py-2 px-6 bg-violet-300 text-white shadow-md rounded-2xl hover:opacity-80">
                    <a href="/auth/logout">Log out</a>
                </button>
            </div>
        </div>
    </main>
    <%- include('partials/_footer.ejs') %>
</body>
</html>