<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Vendor update product"}) %>
    <script defer src="/js/fileUpload.js"></script>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <%- //include("partials/_navigation_bar"); %>
        <%- //include("partials/_category_bar.ejs"); %>
    </header>
    <main>
        <Form class="p-6" action="/users/vendor/<%= productData.id %>/update" method="post" content-type="application/json">
            <%- include ('partials/_addProduct_form') %>

            <%- include ('partials/_messages') %>
            <div>
                <button class="px-2 py-1 rounded-2xl border-solid-1 border-black" type="reset">Reset</button>
                <button class="px-2 py-1 rounded-2xl border-solid-1 border-black" type="submit">Update Product</button>
            </div>
        </Form>
        <button><a href="/users/vendor/<%= productData.id %>/delete">Delete Product</a></button>
    </main>
    <%- include("partials/_footer.ejs"); %>
</body>
</html>