<div>
    <label for="productName">Product Name:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="productName" type="text" name="productName" value="<%= locals.productName || "" %>">
</div>
<div>
    <label for="image">Image:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="image" type="file" name="image">
</div>
<div>
    <label for="price">Price:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="price" type="number" name="price" value="<%= locals.price || "" %>">
</div>
<div>
    <label for="description">Description:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="description" type="text" name="description" value="<%= locals.description || "" %>">
</div>
<div>
    <label for="brand">Brand:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="brand" type="text" name="brand" value="<%= locals.brand || "" %>">
</div>
<div>
    <label for="category">Category:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="category" type="text" name="category" value="<%= locals.category || "" %>">
</div>
<div>
    <label for="tags">Tags:</label>
    <input class="w-64 h-4 p-4 rounded-2xl border-solid-1 border-black" id="tags" type="text" name="tags" value="<%= locals.tags || "" %>">
</div>
