<aside class="w-full p-4">
    <form id="filterForm" class="queryForm flex flex-col" action="/users/customer" method="get">
        <h3 class="sr-only">Categories</h3>
        <div>

        </div>
        <ul role="list" class=" py-3 font-medium text-gray-900">
            <% for (let i = 0; i < 2; i++) { %>
                <li>
                    <a href="#" class="block py-3 text-ellipsis">Smartphones</a>
                </li>
            <% } %>
        </ul>
        <!-- Filter -->
        <!-- Price filter -->
        <div class="border-t border-gray-300 py-6">
          <%- include('_filter_expandCollapse_btn', {filterType: "Price"}) %>
          <!-- Filter section, show/hide based on section state. -->
          <div class="filter-subpanel pt-6 hidden" id="filter-section-mobile-0">
            <div class="space-y-6">

              <div class="center-xy">
                <div class="relative">
                  <label class="absolute left-2 top-1/2 text-gray-500 -translate-y-1/2" for="minPrice">$</label>
                  <input class="w-h-full px-1 py-[6px] text-right appearance-none border-solid-1 border-black rounded-lg" type="number" id="minPrice" name="minPrice" min="0" value="<%= minMaxPrice[0] || '' %>">
                </div>
                <div class="text-xl px-2">-</div>
                <div class="relative">
                  <label class="absolute left-2 top-1/2 text-gray-500 -translate-y-1/2" for="maxPrice">$</label>
                  <input class="w-h-full px-1 py-[6px] text-right appearance-none border-solid-1 border-black rounded-lg" type="number" id="maxPrice" name="maxPrice" min="0" value="<%= minMaxPrice[1] || '' %>">
                </div>
              </div>

            </div>
          </div>
      </div>
        <!-- Tags filter -->
        <div class="border-t border-gray-300 py-6">
            <!-- Filter button  -->
            <%- include('_filter_expandCollapse_btn', {filterType: "Tags"}) %>
            <!-- Filter section, show/hide based on section state. -->
            <div class="filter-subpanel pt-6 hidden" id="filter-section-mobile-0">
              <div class="space-y-6">

                <% locals.tags.forEach(tag => { %>
                  <div class="flex items-center">
                    <input id="filter-mobile-color-0" name="tags" value="<%= tag %>" type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500"><%= tag %></label>
                  </div>
                <% }); %>

                <!-- <div class="flex items-center">
                  <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">White</label>
                </div>  -->

              </div>
            </div>
        </div>
        <button type="submit">Test submit</button>
    </form>
</aside>
